[submodule "_ref/Build-Web-Server-using-NodeMcu8266-Code-and-Schematics"]
	path = _ref/Build-Web-Server-using-NodeMcu8266-Code-and-Schematics
	url = git@github.com:IoTLAB-IQ/Build-Web-Server-using-NodeMcu8266-Code-and-Schematics.git
